
<% flash[:notice] %>

<% track_genre = calculate_genre(current_user, @client)%>
<% track = track_genre[0] %>
<% genre = track_genre[1] %>
<% tag = track_genre[2] %>
<% duration = track["duration"]/1000 + 5 %>
<meta http-equiv="Refresh" Content="<%= duration %>">
<% @song = Song.create(:name => track["title"], :genre => genre, :artist => track["user"]["username"], :songid => track["id"]) %>
<% current_user.songs << @song %>
<% track_url = track['permalink_url'] %>
<% embed_info = @client.get('/oembed', :url => track_url) %>
<% embed_http = embed_info['html'].split("src=\"")[1].split("\">")[0] %>
<h2><%= link_to 'Next Song', homepage_path%></h2>
<h3>Title: <%= @song[:name] %></h3>
<h3>Genre: <%= @song[:genre] %></h3>
<h3>Artist: <%= @song[:artist] %></h3>
<h3>Tags: <%= tag %> </h3>
<li><a href="<%= embed_http %>">Link to </a></li>

<iframe width="50%" height="200" scrolling="no" frameborder="no" src="<%= embed_http %>&auto_play=true" ></iframe>
<!-- <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F9257642&show_artwork=true&client_id=ae9f52f98895e6a3663870f4de3549a5"></iframe> -->

<!-- https://soundcloud.com/olafur-arnalds/lj-si -->

<% if current_user.present? %>
	<td><h2><%= toggle_like_button(@song, current_user) %></td></h2>
	<td><%= toggle_unlike_button(@song, current_user) %></td>
<% end %>
<br>



