<meta http-equiv="Refresh" Content="<%= @duration %>">

<div class="homepage">
<%= link_to raw("<span class=\"glyphicon glyphicon-home\"> CloudRadio</span>"), homepage_path, class: "btn btn-default btn-lg"%>
</div>

<div class="preference">
<%= link_to raw("<span class=\"glyphicon glyphicon-cog\"> Preference</span>"), users_userlib_path, :onclick => "window.open(this.href, 'create_company',  'width=400,height=400');return false;", class: "btn btn-default btn-lg" %>
</div>

<div class="recently"><%= link_to raw("<span class=\"glyphicon glyphicon-music\"> Recent</span>"), users_recently_path(:n => 0), :onclick => "window.open(this.href, 'create_company',  'width=400,height=400');return false;", class: "btn btn-default btn-lg"%>
</div>

<div class="song_liked">
<%= link_to raw("<span class=\"glyphicon glyphicon-star\"> Favorite</span>"), users_songsliked_path, :target => "_blank", class: "btn btn-default btn-lg" %>
</div>

<div class="song_next"><%= link_to raw("<span class=\"glyphicon glyphicon-forward\"> Next</span>"), homepage_path, class: "btn btn-default btn-lg" %></div>

<div class="buttons">
<% if current_user.present? %>
	<div class="like_home"><%= toggle_like_button(@song, current_user) %></div>
	<div class="unlike_home"><%= toggle_unlike_button(@song, current_user) %></div>
<% end %>
</div>

<div class="playing">Now playing: <%= @song[:name] %></div>

<div class="genre">Genre: <%= @song[:genre] %></div>

<div class="artist">Artist: <%= @song[:artist] %></div>

<div class="link"><a href="<%= @embed_http %>">Link to </a></div>

<div class="frame">
<iframe width="50%" height="200" scrolling="no" frameborder="no" src="<%= @embed_http %>&auto_play=true" ></iframe>
</div>







