<meta http-equiv="Refresh" Content="<%= @duration %>">
<% flash[:notice] %>
<h3><%= link_to 'See your Preference', users_userlib_path, :target => "_blank" %></h3>
<h2><%= link_to 'Next Song', homepage_path%></h2>

<h3>Title: <%= @song[:name] %></h3>
<h3>Genre: <%= @song[:genre] %></h3>
<h3>Artist: <%= @song[:artist] %></h3>
<li><a href="<%= @embed_http %>">Link to </a></li>

<iframe width="50%" height="200" scrolling="no" frameborder="no" src="<%= @embed_http %>&auto_play=true" ></iframe>

<% if current_user.present? %>
	<td><h2><%= toggle_like_button(@song, current_user) %></td></h2>
	<td><h2><%= toggle_unlike_button(@song, current_user) %></td></h2>
<% end %>
<br>



