<meta http-equiv="Refresh" Content="<%= @duration %>">

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"> CloudRadio</span></a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="login">Please <%= link_to 'Log in', homepage_path%> to use the smart radio
					</span>
				</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="homepage_div">


<div id="one" class="nonlog_frame">
<iframe width="70%" height="350px" scrolling="no" frameborder="no" src="<%= @embed_http %>&auto_play=true" ></iframe>


<div id="five" class="nonlog_song_next"><%= link_to raw("<span class=\"glyphicon glyphicon-forward\">  Next&nbsp </span>"), home_path, class: "btn btn-default btn-lg" %></div>

<div id="six" class="genre">&nbspGenre: <%= @song[:genre] %>&nbsp</div>
</div>
<div class="remider">
@CloudRadio Created by <em>Yiyang Song</em>
</div>
</div>

