<meta http-equiv="Refresh" Content="<%= @duration %>">

<% flash[:notice] %>

<h3><%= link_to 'See your Preference', users_userlib_path, :target => "_blank" %></h3>

<h3><%= link_to "Recently", users_recently_path(:n => 0), :target => "_blank" %></h3>

<h3><%= link_to "See songs you've liked", users_songsliked_path, :target => "_blank" %></h3>

<h2><%= link_to 'Next Song', homepage_path%></h2>

<% if current_user.present? %>
	<td><h3><%= toggle_like_button(@song, current_user) %></td></h3>
	<td><h3><%= toggle_unlike_button(@song, current_user) %></td></h3>
<% end %>

<h3>Now playing: <%= @song[:name] %></h3>
<h3>Genre: <%= @song[:genre] %></h3>
<h3>Artist: <%= @song[:artist] %></h3>
<li><a href="<%= @embed_http %>">Link to </a></li>

<iframe width="50%" height="200" scrolling="no" frameborder="no" src="<%= @embed_http %>&auto_play=true" ></iframe>








