
<div class="userpref_title"><em>Modify your preference...</em><span class="style">Stylized: <%= current_user[:genre].values.sum %> % &nbsp | &nbsp Randomlized: <%= 100 - current_user[:genre].values.sum %> % &nbsp &nbsp</span></div>



<div class="reset?"><strong><%= link_to "Reset?", users_reset_path, :style => "color: tomato; font-size: 16px" %></strong></div>

<div class="change">
<dl style="width: 500px">
<% current_user.genre.each do |genre| %>
<dt><%= genre[0] %></dt>
<dd><div class="bar" style="width: <%= genre[1] %>%;"><%= genre[1] %>%</div></dd>
<% end %>
</dl>

<ul class="change_pref">
<% current_user.genre.each do |genre| %>
	<% @genre = genre[0] %>
	<% if current_user[:genre].values.sum == 100 %>
		 +  |  <%= link_to raw("<span class=\"glyphicon glyphicon-minus\"> </span>") , users_edit_path(current_user.id, :genre => @genre, :act => 'decrease', class: "btn btn-default btn-lg" )%><br><br>

	<% elsif current_user[:genre].values.sum == 0 %>
		<%= link_to raw("<span class=\"glyphicon glyphicon-plus\"> </span>"), users_edit_path(current_user.id, :genre => @genre, :act => 'increase', class: "btn btn-default btn-lg") %>  |  -<br><br>

	<% else %>
		<%= link_to raw("<span class=\"glyphicon glyphicon-plus\"> </span>"), users_edit_path(current_user.id, :genre => @genre, :act => 'increase', class: "btn btn-default btn-lg") %>  |  <%= link_to raw("<span class=\"glyphicon glyphicon-minus\"> </span>") , users_edit_path(current_user.id, :genre => @genre, :act => 'decrease', class: "btn btn-default btn-lg")%><br><br>
	<% end %>
<% end %>
</ul>
</div>







