

<div class = "notice">
<% flash[:notice] %>
</div>


<div>
<% if current_user.present? && !current_user.flagged?(@song) %>
	<h3><td><%= toggle_like_button_in_show(@song, current_user) %></td></h3>
<% end %>
<% if current_user.present? && current_user.flagged?(@song) %>
	<h3><td><%= toggle_like_button_in_show(@song, current_user) %></td></h3>
<% end %>

<br>

<h3>
Song Name: <%= @song[:name] %><br>
Genre: <%= @song[:genre] %><br>
You've liked <%= current_user[:genre]["#{@song[:genre]}"] %>% <%= @song[:genre] %> songs

</h3>
