<div class="notice">
<%= flash[:notice] %>
</div>

<div class="like">
<% if current_user.present? && !current_user.flagged?(@song) %>
	<%= toggle_like_button_in_show(@song, current_user) %>
<% end %>
</div>

<div class="unlike">
<% if current_user.present? && current_user.flagged?(@song) %>
	<%= toggle_like_button_in_show(@song, current_user) %>
<% end %>
</div>

<div class="song_name">Song Name: <%= @song[:name] %></div>

<div class="song_genre">Genre: <%= @song[:genre] %></div>

<div class="show_your_like">You've liked <%= current_user[:genre]["#{@song[:genre]}"] %>% <%= @song[:genre] %> songs</div>

</h3>
